@charset "utf-8";

/* button style */
.btnToggle {display:inline-block;overflow:hidden;vertical-align:middle}
.btnToggle a {display:inline-block;overflow:hidden;float:left;padding:0 8px;width:13px;height:26px;line-height:26px;border:1px solid #ccc;border-left:0;vertical-align:middle;background:#fff url(/include/booksearch/image/button/btn_toggle.png) 5px 0 no-repeat}
.btnToggle a:first-child {border-left:1px solid #ccc}
.btnToggle a.choiced {color:#fff;border-color:#222;background-color:#666}
.btnToggle a.btnTogImage {background-position:8px 0}
.btnToggle a.btnTogImage.choiced {background-position:8px -40px}
.btnToggle a.btnTogText {background-position:8px -80px}
.btnToggle a.btnTogText.choiced {background-position:8px -120px}
/*한글한자변환 버튼*/
.btnToggle a.btnTogKorHan {background:#fff url(/include/booksearch/image/button/btn_tog_hankor.png) 5px 3px no-repeat;padding-left:18px;width:60px;border:1px solid #dfdfdf}
.btnTogKorHan:hover,.btnTogKorHan:focus,.btnTogKorHan.choiced {background:#666 url(/include/booksearch/image/button/btn_tog_korhan.png) 5px 3px no-repeat !important;padding-left:18px;width:60px;border:1px solid #ff6300;color:#fff}

/* search result left list */
.searchListWrap {position:relative;padding:0 1px;font-size:0.938em}
.searchListWrap > div {padding:10px 5px;border-bottom:1px solid #c9c9c9}
.searchListWrap a:hover,.searchListWrap a:focus {text-decoration:underline}
.searchListWrap .tit {margin-bottom:8px;font-size:1.071em;color:#333}
.categoryList {background-color:#f1f1f1}
.categoryList li {margin:3px 10px}
.categoryList a.current {text-decoration:underline;font-weight:600}
.newKeywordList li {margin:5px 0;line-height:1.2}
.newKeywordList .btnKwdDel {display:inline-block;width:14px;height:14px;margin:3px 0 0 6px;vertical-align:top;background:url(/include/booksearch/image/button/btn_delete.gif) 0 0 no-repeat}
.kwdPop li {overflow:hidden;position:relative;margin:4px 0;padding:0 30px 0 25px;line-height:20px}
.kwdPop .kwd {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.kwdPop .num {display:block;position:absolute;top:1px;left:0;width:16px;height:16px;font-size:13px;line-height:16px;font-family:sans-serif;color:#fff;text-align:center;border:1px solid #464646;background-color:#666}
.kwdPop .rank {position:absolute;top:0;right:0;width:22px;padding-left:10px;text-align:right}
.kwdPop .rank.statStay {background:url(/include/booksearch/image/common/statStay.gif) 2px 50% no-repeat}
.kwdPop .rank.statUp {background:url(/include/booksearch/image/common/statUp.gif) 2px 50% no-repeat;color:#e42600}
.kwdPop .rank.statDn {background:url(/include/booksearch/image/common/statDn.gif) 2px 50% no-repeat;color:#156ea5}

/* search form -simple */
.keywordSearch {position:relative}
/* popular keyword */
.popKwd {overflow:hidden;position:relative;height:18px;margin:0 120px 10px 0;padding-left:85px;line-height:1em}
.popKwd .tit {position:absolute;top:0;left:0}
.popKwd a {display:inline-block;margin:0 0 10px 15px}
/* keyword search */
.searchForm {position:relative;margin-top:28px;padding-right:85px}
.searchForm.gpe {padding-right: 0px;}
.music .searchForm {padding-right:0}
.popKwd + .searchForm {margin-top:0}
.searchForm .mlang {position:absolute;top:-28px;right:0;height:18px;margin-bottom:5px;font-weight:600;line-height:18px;color:#3e3e3e}
.searchInput {display:block;position:relative}
.searchInput .reSearch {margin-top:5px;font-size:0.875em;text-align:right}
.searchInput .reSearch input {display:inline-block;margin-top:-2px;vertical-align:middle}
.keywordBox {position:relative;height:42px;line-height:42px;border-radius:5px;border:3px solid #464646}
.keywordBox .keywordInput {position:relative;margin:0 100px 0 100px}
.keywordBox .keywordInput input {display:block;width:100%;height:42px;margin:0;padding:0;border:0 none;box-sizing:border-box}
.keywordBox .searchSelect {position:absolute;top:0;left:0;width:100px;height:42px;margin:0;padding:0}
.keywordBox .searchSelect select {width:100%;height:42px;line-height:42px;padding:0 15px 0 5px;vertical-align:top;border:0}
.keywordBox .btnSubmit {position:absolute;top:0;right:0}
.keywordBox .btnSubmit a {display:block;width:34px;padding:0 10px 0 28px;font-weight:600;font-size:16px;line-height:42px;text-align:right;color:#fff;background:#464646 url(/include/booksearch/image/common/icon_search.png) 11px 52% no-repeat}
/* multi language keyboard */
.multiLangBox {display:none;position:absolute;top:47px;left:93px;z-index:9999;width:602px;border:1px solid #464646;background:#fff}
.multiLangBox .multiLang {overflow:hidden;padding:10px}
.multiLangBox .multiLang ul.language {overflow:hidden;padding-top:1px;border-left:1px solid #d5d5d5}
.multiLangBox .multiLang ul.language li {float:left;width:14.285%;margin:-1px 0 0 -1px;border:1px solid #d5d5d5;border-left:0}
.multiLangBox .multiLang ul.language li a {display:block;width:auto !important;height:30px;margin:0;padding:0;font-size:12px;font-weight:bold;text-align:center;line-height:30px;background:none}
.multiLangBox .multiLang ul.language li a:hover,.multiLangBox .multiLang ul.language li a:focus {text-decoration:underline}
.multiLangBox .multiLang ul.language li a.selected {color:#fff;border-color:#464646;background:#464646}
.multiLangBox .multiLang .languageContents {width:582px;margin-top:10px}
.multiLangBox .multiLang .languageContents ul {overflow:hidden;padding-top:1px}
.multiLangBox .multiLang .languageContents ul + ul {margin-top:-1px}
.multiLangBox .multiLang .languageContents ul li {overflow:hidden;float:left;width:30px;height:30px;margin:-1px -1px 0 0}
.multiLangBox .multiLang .languageContents ul li a {display:block;margin:0;padding:0;color:#666;font-size:12px;text-align:center;line-height:28px;border:1px solid #d5d5d5;background:none}
.multiLangBox .multiLang .languageContents ul li a:hover,.multiLangBox .multiLang .languageContents ul li a:focus {font-size:15px;text-decoration:none;font-weight:bold;background:#d5e0e6}
.multiLangBox .multiLangBox_close {height:28px;text-align:right;background:#eee}
.multiLangBox .multiLangBox_close a {margin-right:10px;font-weight:600;line-height:28px}
/* search type */
.searchSide {position:absolute;top:28px;right:0;letter-spacing:-1px}
.searchSide .btnArea {overflow:hidden;height:46px;text-align:right;border-radius:5px;border:1px solid #bcbcbc;background-color:#fff}
.searchSide .btnArea a {display:inline-block;float:left;padding:0 8px;line-height:46px;color:#3e3e3e;background-color:#fff}
.searchSide .btnArea a + a {border-left:1px solid #bcbcbc}
/* search library check */
.searchCheckBox {position:relative;padding:10px 0;border-top:2px solid #666;border-bottom:1px solid #c9c9c9}
.searchCheckBox .checkGroup {overflow:hidden;position:relative;padding:10px;background-color:#f5f5f5}
.searchCheckBox .checkGroup + .checkGroup {margin-top:8px}
.searchCheckBox .tit {margin-bottom:7px;padding-bottom:8px;font-weight:normal;line-height:1em;color:#232323;border-bottom:1px solid #d7d7d7}
.searchCheckBox .searchCheckList li {display:inline-block;overflow:hidden;float:left;min-width:170px;margin-top:3px;margin-right:15px;color:#555}
.searchCheckBox .searchCheckList li.total {display:block;float:none;margin:5px 0;padding:5px 0 8px;border-bottom:1px solid #d7d7d7}
.searchCheckBox .searchCheckList input[type="checkbox"] {display:inline-block;margin:-3px 1px 0 0;vertical-align:middle;border:1px solid #666;background-color:#fff}
.searchCheckBox .btnArea {position:absolute;top:10px;right:10px}
.searchCheckBox .btnArea .btn {padding:5px 15px;color:#fff;background-color:#666}

/* auto keyword */
.btn_autoword {position:absolute;top:13px;right:88px;height:6px;padding:7px 0;line-height:0}
.atcShow {display:block}
.atcHide {display:none}
.atcBox {position:absolute;top:48px;right:75px;left:85px;z-index:100}
#atcList {border:1px solid #bdbdbd;border-width:0 1px;background:#fff}
#atcList > li > a {display:block;padding:10px;line-height:1;border-bottom:1px solid #e1e1e1}
#atcList > li > a:hover, #atcList > li > a:focus {background:#f6f6f6}
.atcFoot {padding:5px;font-size:12px;text-align:right;border:1px solid #bdbdbd;border-top:0 none;background:#f5f5f5}

/* search form - detail */
.detailSearchFrom {position:relative}
.detailSearchFrom .mlang {margin-bottom:5px;text-align:right}
.detailSearch {overflow:hidden;border:1px solid #d9d9d9;border-radius:5px}
.detailSearch .searchFormArea {padding:20px}
.detailSearch .searchBtnArea {padding:10px 15px;text-align:center;background-color:#f4f4f4}
.detailSearchList li {float:left;position:relative;width:50%;line-height:38px}
.detailSearchList li .tit {position:absolute;top:0;left:10px}
.detailSearchList li .field {display:block;margin-left:75px}
.detailSearchList input,.detailSearchList select {width:96%;margin:0;padding:0;line-height:28px}
.detailSearchList .form-ele.short {width:20%;min-width:60px}
.detailSearchTbl th {padding-right:10px;font-weight:normal;line-height:28px;text-align:left;word-break:keep-all}
.detailSearchTbl td {padding:4px 0}
.detailSearchTbl .form-ele.fix {width:110px}
.detailSearchTbl .form-ele.min {min-width:110px}
.detailSearchTbl .fnInputBox {position:relative;padding:0 75px 0 115px}
.detailSearchTbl .fnInputBox2 {position:relative;padding:0 0 0 115px}
.detailSearchTbl .fnInputBox select,.detailSearchTbl .fnInputBox2 select {position:absolute;top:0;left:0}
.detailSearchTbl .fnInputBox input + select.form-ele.fix,.detailSearchTbl .fnInputBox2 input + select.form-ele.fix {right:0;left:auto;width:70px}

/* search form - new, best */
.newSearch {overflow:hidden;border:1px solid #d9d9d9;border-radius:5px}
.newSearch .searchFormArea {padding:20px}
.newSearch .searchDescArea {padding:10px 15px;background-color:#f4f4f4}
.searchNewCore {position:relative;padding-right:65px}
.searchNewCore select {float:left;width:32.3%;margin-left:1%}
.searchNewCore select:first-child,.searchBestCore select:first-child {margin-left:0}
.searchNewCore .btnSubmit,.searchBestCore .btnSubmit {position:absolute;top:0;right:0}
.searchNewCore .btnSubmit a,.searchBestCore .btnSubmit a {width:60px}
.searchBestCore select {float:left;width:32.3%;margin-left:1%}
.searchBestCore .btnSubmit {float:left;margin-left:7px}

/* search form - kdc */
/*.kdcSearch {background-color:#f6f6f6}*/
.kdcDepth1List {overflow:hidden;padding:24px;border:1px solid #d9d9d9;border-radius:8px}
.kdcDepth1List li {float:left;width:20%;margin:10px 0;text-align:center}
.kdcDepth1List li .txt {display:block;margin-top:5px;font-weight:600;font-size:1.143em;line-height:22px}
.kdcDepth1List li a {display:block;width:80px;height:80px;margin:0 auto;padding:10px;vertical-align:top;border-radius:8px;background-color:#f6f6f6}
.kdcDepth1List li a.choiced,.kdcDepth1List li a:hover,.kdcDepth1List li a:focus {background-color:#f9f3e6}
.kdcDepth1List li a .ico {display:block;width:80px;height:80px;background:url(/include/booksearch/image/kdc/ico_kdc.png) 0 0 no-repeat}
.kdcDepth1List li.kdc0 .ico {background-position:0 0}
.kdcDepth1List li.kdc1 .ico {background-position:-80px 0}
.kdcDepth1List li.kdc2 .ico {background-position:-160px 0}
.kdcDepth1List li.kdc3 .ico {background-position:-240px 0}
.kdcDepth1List li.kdc4 .ico {background-position:-320px 0}
.kdcDepth1List li.kdc5 .ico {background-position:0 -100px}
.kdcDepth1List li.kdc6 .ico {background-position:-80px -100px}
.kdcDepth1List li.kdc7 .ico {background-position:-160px -100px}
.kdcDepth1List li.kdc8 .ico {background-position:-240px -100px}
.kdcDepth1List li.kdc9 .ico {background-position:-320px -100px}

.kdcDepth2List {margin-left:-25px;display:none}
.kdcDepth2List > li {overflow:hidden;float:left;width:25%;height:320px;margin-top:30px}
.kdcDepth2List dl {height:302px;margin-left:25px;padding-bottom:15px;line-height:20px;border-top:2px solid #666;border-bottom:1px solid #d9d9d9}
.kdcDepth2List dt,.kdcDepth2List dd {overflow:hidden;text-overflow:ellipsis;word-wrap:normal;white-space:nowrap}
.kdcDepth2List dt {margin-bottom:15px;padding:12px 0;font-weight:600;font-size:1.071em;color:#333;border-bottom:1px solid #666}
.kdcDepth2List dd {margin-top:5px;font-weight:100;color:#555}

/* search result list filter */
.resultFilter {overflow:hidden;position:relative;min-height:28px;padding-bottom:8px;border-bottom:2px solid #666}
.resultFilter .sort {float:left;margin:3px 0}
.resultFilter .sort select {float:left;height:28px;line-height:28px;margin-right:4px;border:1px solid #dcdcdc}
.resultFilter .sort input[type="text"] {float:left;min-width:200px;height:28px;margin-right:4px;padding:0 3px;line-height:26px;border:1px solid #dcdcdc}
.resultFilter .sort .btnGo {display:inline-block; padding:0 9px;line-height:28px;color:#fff;border-radius:2px;background-color:#666}
.resultFilter .mode {float:right;margin:3px 0}

/* search music result list filter */
.resultFilter.music {padding: 15px 0; border-bottom: 1px solid #666; border-top: 2px solid #666;}
.resultFilter.music .lt {float: left; position: relative; padding: 0 50px 0 85px;}
.resultFilter.music .lt label {position: absolute; left: 0; top: 0; height: 28px; line-height: 27px;}
.resultFilter.music .lt input {display: inline-block; height: 28px; vertical-align: top;}
.resultFilter.music .lt .btn {position: absolute; right: 0; top: 0; padding: 0 9px; line-height: 28px; color: #fff; border-radius: 2px;}
.resultFilter.music .rt {float: right;}
.resultFilter.music .rt .sort {display: inline-block; float: none; vertical-align: top; margin: 0;}
.resultFilter.music .rt .mode {display: inline-block; float: none; vertical-align: top; margin: 0;}
.resultFilter.music .rt .mode .btnToggle {vertical-align: top; margin: 0;}

/* search result head */
.resultTop {margin:20px 0}
.resultHead {overflow:hidden;padding:10px 0;border-bottom:1px solid #666;border-top:2px solid #666}
.resultFilter + .resultHead {border-top:0}
.resultHead .button,.resultList .button {display:inline-block;height:25px;margin:2px;padding:0 5px 0 22px;font-size:0.875em;line-height:23px;vertical-align:middle;border:1px solid #d2d2d2;border-radius:3px;box-sizing:border-box;background-color:#fff;background-position:5px 50%;background-repeat:no-repeat}
.resultHead .button.view {border:0;background-color:#e9e9e9}
.button.put {background-image:url(/include/booksearch/image/button/btn_func1.png)}/*담기*/
.button.view {background-image:url(/include/booksearch/image/button/btn_func2.png)}/*보기*/
.button.save {background-image:url(/include/booksearch/image/button/btn_func3.png)}/*저장*/
.button.print {background-image:url(/include/booksearch/image/button/btn_func4.png)}/*인쇄*/
.button.del {background-image:url(/include/booksearch/image/button/btn_func5.png)}/*삭제*/
.button.write {background-image:url(/include/booksearch/image/button/btn_func6.png)}/*입력*/
.button.text {background-image:url(/include/booksearch/image/button/btn_func7.png)}/*텍스트목록저장*/
.button.xlsx {background-image:url(/include/booksearch/image/button/btn_func8.png)}/*엑셀목록저장*/

/* result list */
.newSearch ~ .rtitle {margin-top:30px}
.rtitle {margin-bottom:10px;font-size:1.071em;color:#464646}
.searchKwd {padding:0 3px;font-weight:600;color:#fff;vertical-align:baseline}
/* Book Info */
.tit .cate {display:inline-block;min-width:40px;margin-right:4px;padding:0 3px;font-size:0.875em;line-height:20px;text-align:center;border:1px solid #c8c8c8;background:linear-gradient(to bottom, #f2f2f2 0%,#ffffff 100%)}
.bookTitle {margin:20px 0 8px;padding-top:12px;font-weight:600;font-size:1.071em;color:#333;border-top:1px solid #ddd}
.bookDataWrap .tit {overflow:hidden;margin-bottom:4px;}
.bookDataWrap .tit a, .bookDataWrap .tit strong {font-size: 1.063em;line-height:22px;color:#333; font-weight: 500;}
.bookDataWrap dd {line-height:1.6;}
.bookDataWrap dd > span ,.videoWrap .videofooter span {display:inline-block;margin-right:5px;padding-right:10px;word-break:normal; position: relative;}
.bookDataWrap dd > span::after, .videoWrap .videofooter span::after {content: ""; position: absolute; right: 0; top: 50%; width: 1px; height: 7px; margin-top: -2px; background-color: #c8c8c8;}
.bookDataWrap dd > span:last-child::after , .videoWrap .videofooter span:last-child::after {display: none;}
.bookDataWrap dd > span:last-child , .videoWrap .videofooter span:last-child {margin-right:0;padding-right:0;background:none}
.bookDataWrap dd .button {height:22px;margin:0;margin:0 0 0 3px;line-height:20px;vertical-align:0px;}
.bookDataWrap dd.musicBox {position: relative; background: #f2f2f2; margin-top: 10px; padding: 15px 0; box-sizing: border-box; text-align: right; padding-right: 30px}
.bookDataWrap dd.musicBox > a {padding-left: 34px; display: inline-block; height: 27px}
.bookDataWrap dd.musicBox .play {background: url(/include/image/button/music_play.png) no-repeat;}
.bookDataWrap dd.musicBox .play.on {background: url(/include/image/button/music_play_on.png) no-repeat;}
.bookDataWrap dd.musicBox .pause {background: url(/include/image/button/music_pause.png) no-repeat; margin-left: 20px}
.bookDataWrap dd.musicBox .pause.on {background: url(/include/image/button/music_pause_on.png) no-repeat;}


.bookStateBar {overflow:hidden;margin-top:8px;background-color:#f2f2f2}
.bookStateBar .txt {float:left;margin:5px 0 5px 10px;font-size:0.875em;line-height:24px;letter-spacing:-1px}
.bookStateBar .stateArea {float:right}
.bookStateBar .stateArea .state {display:inline-block;margin:5px 5px 5px 0;font-size:0.875em;line-height:24px;letter-spacing:-1px}
.bookStateBar .stateArea .state .ico {display:inline-block;overflow:hidden;width:24px;height:24px;vertical-align:top;border-radius:24px;background:#a7a7a7 url(/include/booksearch/image/common/icon_state.png) 0 0 no-repeat}
.bookStateBar .stateArea .state.typeA .ico {background-position:0 0}
.bookStateBar .stateArea .state.typeB .ico {background-position:0 -50px}
.bookStateBar .stateArea .state.typeC .ico {background-position:0 -100px}
.bookStateBar .stateArea .state.typeD .ico {background-position:0 -200px}
.bookStateBar .stateArea a.state.del .ico {background-position:0 -150px}
.bookStateBar .stateArea a.state.typeA .ico {background-color:#e95457}
.bookStateBar .stateArea a.state.typeB .ico {background-color:#7cc342}
.bookStateBar .stateArea a.state.typeC .ico {background-color:#2da3e5}
.bookStateBar .stateArea a.state.typeD .ico {background-color:#f7941d}

.musicPlayBox {overflow: hidden; margin-top: 8px; margin-left: 180px;}
.musicPlayBox audio {width: 100%; height: 40px;}

.resultList .tag img {width:41px;}
.resultList .boxTag {display: flex; align-items: center; justify-content: center; height: 25px; border: 1px solid #004f9f; font-size: 0.938em; color: #004f9f; margin-bottom: 10px; width: fit-content; padding: 0px 12px;}
.resultList > li {overflow:hidden;position:relative;min-height:175px;padding:15px 0;border-bottom:1px solid #c5c5c5}
.resultList > li.emptyNote {min-height:auto}
.resultList > li .listCheckbox {position:absolute;top:13px;left:5px}
.resultList > li > dl > dd .important {color:#333}
.resultList .chk {position:absolute;top:21px;left:0;margin:0;line-height:0}
.resultList .thumb {position:absolute;top:15px;left:0}
.resultList .thumb .cover,.kdcBookList .bookList .thumb .cover {display:block;overflow:hidden;position:relative;width:130px;height:170px;padding-top:5px;background:url(/include/booksearch/image/common/bg_book.png) 0 0 no-repeat;background-size:100% 5px}
.resultList .thumb span.cover {overflow: visible; padding-top:0;background:none;}
.resultList .thumb .tag,.kdcBookList .bookList .thumb .tag {position:absolute;top:2px;left:3px;line-height:0}
.resultList .thumb span.cover .tag {top:-3px;}
.resultList .thumb .img img,.kdcBookList .bookList .thumb .img img {display:block;width:100%;height:100%;border:1px solid #969696;box-sizing:border-box}
.resultList.imageType .bookDataWrap,.resultList.imageType .bookStateBar {margin-left:150px}
.resultList.imageType .chk ~ .bookDataWrap,.resultList.imageType .chk ~ .bookStateBar {margin-left:180px}
.resultList.imageType .chk ~ .thumb {left:25px}
.resultList.imageType .bookDataWrap {min-height:92px}
.resultList.imageType .moreBtnWrap {position: absolute; top: 100px; right: 0; margin-right: 30px; cursor: pointer;}
.resultList.imageType .musicPlayWrap {position: relative; right: 0; margin-right: 30px; top:62px}
.resultList.imageType .music {top: 96px;}
.resultList.imageType .mr170 {margin-right: 170px;}
.resultList.textType .chk ~ .bookDataWrap {margin-left:23px}
.resultList.textType .thumb {display: none;}
.resultList.textType > li {min-height: auto;}
.resultList.ebookType > li {padding-left:0}
.resultList.ebookType .thumb {left:0}
.resultList.ebookType.textType > li {min-height:auto;padding-left:0}
/* 아카이브 검색 */
.resultList .list {padding:36px 0;}
.resultList .list .thumb {top:36px;}
.resultList .list dd {font-size: 1em; color: #555; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.resultList .list .resultTxt {line-height: 1.4; font-size: 0.938em; color: #555; margin-top: 6px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.resultList .list .resultTag {font-size: 0.938em; color: #777; margin-top: 8px;}
.resultList .list .resultTag a {margin-left: 10px;}
.resultList .list .resultTag a:first-child {margin-left: 0;}
.resultList .list .cover {height: 176px;}
.resultList .list .on {display: block;}
.resultList .list .img img {border: none;}
.resultList .list .bookDataWrap dt, .resultList .list .videofooter h4 {margin-bottom:8px; font-size:1.125em; color:#555; font-weight: 500; line-height:22px;}
.resultList .list .moreBtnWrap a {padding: 3px 30px 3px 10px; font-size: 0.938em; height: 33px;}
.resultList .list .moreBtnWrap a::after {content: ""; position:absolute; right:10px; top:50%; width:13px; height:8px; margin-top:-4px;}
.resultList .list .moreBtnWrap .arrowUp::after {background: url(/include/image/button/btn_Arrow.png) no-repeat;}
.resultList .list .moreBtnWrap .arrowDown::after {background: url(/include/image/button/btn_Arrow.png) no-repeat; transform: rotate(180deg);}
.resultList .list .music dd {line-height: 1.4;}
.resultList .list .musicWrap {width: 220px; height: 35px; display: flex !important; justify-content: space-between; align-items: center; padding-left: 15px; padding-right: 15px; border-radius: 4px; user-select: none; background-color: #fff; box-sizing: border-box; outline: none; float: right; border: 1px solid red;}
.resultList .list .musicBox {position: relative; margin-top: 10px; padding: 15px 0; box-sizing: border-box; text-align: right; padding-right: 30px}
.resultList .list .videoWrap {display: none; flex-wrap: wrap; justify-content: center; align-content: center;}
.resultList .list .boxOn {position: relative; flex-direction: column; top: 119px; height: 100%; padding: 30px 0 60px; margin-bottom: 50px; border-top: 1px solid #c5c5c5;}
.resultList .list .boxOff {display: flex;}
.resultList .list .videoWrap .videoBox {border: 1px solid #333; min-width: 630px;}
.resultList .list .videoWrap .videoBox video {width: 100%; border-bottom: 1px solid #333}
.resultList .list .videoWrap .videoBox .videofooter {padding: 10px}
.resultList .musicContainer {display: flex; flex-direction: row; justify-content: space-between;}
.noResult .list {display: flex; justify-content: center; align-items: center;}
.noResult .list div {display: flex; flex-direction: column; margin-left: 30px;}

.kdcBookList > li {overflow:hidden;position:relative;padding:15px 0 10px 0;border-bottom:1px solid #dfdfdf}
.kdcBookList .btnMore {position:absolute;top:15px;right:0;width:10px;height:10px;padding:5px;border:1px solid #d9d9d9;background:#fff url(/include/booksearch/image/button/ico_more.png) 50% 50% no-repeat}
.kdcBookList .kdcTitle {display:block;margin-bottom:8px;font-size:1.071em}
.kdcBookList .bookList .tag img {width:45px;}
.kdcBookList .bookList > li {float:left;width:20%;text-align:center;margin-bottom:5px}
.kdcBookList .bookList > li.emptyNote {line-height:100px;border-top:1px solid #dfdfdf}
.kdcBookList .bookList .thumb {position:relative;margin-bottom:5px}
.kdcBookList .bookList .thumb .cover {display:inline-block}
.kdcBookList .bookList .tit,.kdcBookList .bookList .author {display:block;overflow:hidden;max-width:122px;margin:0 auto;padding:0 5px;text-overflow:ellipsis;white-space:nowrap;word-break:normal}
.kdcBookList .bookList .author {font-size:0.857em}

/* hope book search */
.hopeBookList {border-top:2px solid #666}
.hopeBookList > li {overflow:hidden;position:relative;min-height:120px;padding:15px 0 15px 0;border-bottom:1px solid #c5c5c5}
.hopeBookList .thumb {display:block;overflow:hidden;position:absolute;top:15px;left:0}
.hopeBookList .thumb .cover {width:84px;height:120px;border:1px solid #d2d2d2}
.hopeBookList .thumb .cover img {display:block;width:100%;height:100%;}
.hopeBookList .bookInfo {min-height:120px;margin-left:90px}
.hopeBookList .bookInfo .tit {margin-bottom:3px;font-weight:600;line-height:22px;vertical-align:middle}
.hopeBookList .bookInfoList li {padding-left:10px;background:url(/kolaseek/include/image/common/bul_sdot.png) 3px 8px no-repeat}
.hopeBookList .btnArea a {min-width:82px;padding:2px 5px;line-height:26px;text-align:center}
.hopeBookList .btn a {border-radius:0}

.messageBox {border:1px solid #bdbdbd;background:#fff;min-height:200px}
.messageBox p {text-align:center;padding:90px 10px 10px 10px}
hr.btdline {border-top:2px solid #666; padding:0; margin:0}

.resultList > li.message {text-align:center;width:100%;height:auto}
.bookList > li.message {text-align:center;width:100%;height:auto}
.kdcBookList > li.message {text-align:center;width:100%;height:auto}

/*search View*/
.resultView .kdcBookList + .bookTitle {margin-top:0;border-top:0}
.resultView .state {position:relative}
.resultView .state::before {content:"";display:inline-block;width:22px;height:20px;margin-top:-3px;vertical-align:middle;background:url(/include/booksearch/image/common/icon_state.png) 0 0 no-repeat}
.resultView .btn.state.typeA::before {background-position:-4px -2px}
.resultView .btn.state.typeB::before {background-position:-4px -52px}
.resultView .btn.state.typeC::before {background-position:-4px -152px}
.resultView .btn.state.typeD::before {background-position:-4px -202px}
.resultView .btn_marc {display:inline-block;padding:0 6px;font-size:0.857em;line-height:18px;vertical-align:middle;border:1px solid #ddd}
.resultViewDetail {outline:2px solid #fff;overflow:hidden;position:relative;border:2px solid #3e3e3e;border-radius:5px;background-color:#fff;box-shadow:0 0 5px rgba(0,0,0,.2)}
.resultViewDetail .tit {position:relative;padding:10px 15px;background-color:#f4f4f4}
.resultViewDetail .tit .cate {float:left;margin-right:10px}
.resultViewDetail .tag img {width:45px;}
.resultViewDetail .tit h4 {float:left;font-weight:600;font-size:1.071em;line-height:22px;vertical-align:middle}
.resultViewDetail .resultBookInfo {position:relative;min-height:210px;padding:20px}
.resultViewDetail .thumb {position:absolute;top:20px;left:20px}
.resultViewDetail .thumb .cover {display:inline-block;overflow:hidden;padding:6px 17px 10px;background:url(/include/booksearch/image/common/bg_book_cover.png) 0 0 no-repeat}
.resultViewDetail .thumb .tag {position:absolute;top:0;left:18px;line-height:0}
.resultViewDetail .thumb .img {display:block;width:136px;height:194px;border:1px solid #969696}
.resultViewDetail .thumb .img img {display:block;width:100%;height:100%}
.resultViewDetail .qrCode {overflow:hidden;position:absolute;right:18px;bottom:18px;width:82px;height:82px;padding:8px;border-radius:8px;border:1px solid #e9e9e9}
.resultViewDetail .qrCode img {width:82px;height:82px}
.resultViewDetail .bookDataWrap {margin:0 90px 0 190px}
.resultBookDesc {padding-top:15px;border-top:2px solid #696969}
.resultBookDesc .bookTitle {margin:0;padding:0;border-top:0}
.resultBookDesc .title {overflow:hidden}
.resultBookDesc .title .bookTitle {display:inline-block;margin:0;vertical-align:middle}
.resultBookDesc .title .provider {color:#999;vertical-align:middle}
.resultBookDesc .desc {margin-top:10px}
.hasLibrary {border-top:1px solid #666;border-bottom:1px solid #e4e4e4}
.hasLibrary > li {position:relative;padding:10px 0 10px 20px}
.hasLibrary > li + li {margin-top:10px;border-top:1px dotted #999}
.hasLibrary > li > ul > li {margin:2px 0}
.hasLibrary b::after {content:" : ";display:inline}
.hasLibrary li .chkCell {display:inline-block;position:absolute;top:17px;left:0;margin:0;line-height:0}

.bookInfoTbl {table-layout:fixed;height:210px}
.bookInfoTbl th,.bookInfoTbl td {padding:3px 0;vertical-align:text-top}
.bookInfoTbl th {font-weight:600;text-align:left}
.bookInfoTbl td .marc {text-decoration:underline}

/* 선호도 그래프(막대) */
.graphWrap {padding:15px;border:1px solid #dfdfdf}
.graphWrap .barGraph { margin:0 auto}
.graphWrap .caption {margin-bottom:10px;text-align:center}
.graphWrap .caption span {display:inline-block;width:11px;height:11px;margin-right:3px;background-color:#d9dee3}
.barGraph .graphBox {position:relative;margin:30px 0 30px 30px}
.barGraph .axis-x {position:relative;z-index:2}
.barGraph .axis-x li {float:left;position:relative;height:200px;width:14.28571428571429%;text-align:center}
.barGraph .bar {display:block;position:absolute;bottom:0;left:50%;width:30px;height:100%;margin-left:-15px}
.barGraph .bar .fill {display:block;position:absolute;bottom:0;left:0;width:100%;background-color:#d9dee3}
.barGraph .bar .num {display:block;margin-top:-18px;font-weight:bold;font-size:1em;line-height:1em}
.barGraph .txt {position:absolute;bottom:-30px;left:0;width:100%;line-height:1em;vertical-align:text-top}
.axis-y {position:absolute;top:0;left:0;z-index:1;width:100%}
.axis-y .line {display:block;position:relative;width:100%;height:39px;border-top:1px solid #dfdfdf}
.axis-y .line .txt {position:absolute;top:-11px;left:-35px;width:30px;text-align:right}

/* tag Cloud */
.tagCloud {overflow:hidden;border:1px solid #dfdfdf}
.tagCloud #cloud {overflow:hidden;height:200px;padding:15px}
.jqcloud {overflow:hidden;position:relative;font-size:0.750em;line-height:normal}
.jqcloud span {display:inline-block;padding:0}
.jqcloud a {font-weight:600;font-size:inherit;text-decoration:none}
.jqcloud span.w10 a {font-size:600%;color:#003b84}
.jqcloud span.w9 a {font-size:500%;color:#044eaa}
.jqcloud span.w8 a {font-size:450%;color:#1367ce}
.jqcloud span.w7 a {font-size:400%;color:#5393e1}
.jqcloud span.w6 a {font-size:350%;color:#61aadd}
.jqcloud span.w5 a {font-size:300%;color:#8cc0dd}
.jqcloud span.w4 a {font-size:250%;color:#555c64}
.jqcloud span.w3 a {font-size:200%;color:#757b82}
.jqcloud span.w2 a {font-size:160%;color:#757b82}
.jqcloud span.w1 a {font-size:160%;color:#757b82}

/* 내서재 요약보기 */
.myKolaseekSummary {overflow:hidden;border-radius:8px;border:1px solid #d9d9d9}
.myKolaseekSummary .title {padding:10px 15px;background-color:#f5f5f5}
.myKolaseekSummary .title .name {font-size:1.154em;vertical-align:baseline}
.myStarusSummary {overflow:hidden;position:relative;padding:15px}
.myStarusSummary .starusList li {float:left;width:50%;margin:8px 0;font-size:1.077em;box-sizing:border-box}
.myStarusSummary .starusList li div {position:relative;margin-right:20px;background:url(/kolaseek/include/image/common/bg_dot_repeat.png) 0 50% repeat-x}
.myStarusSummary .starusList li:nth-of-type(even) div {margin-right:0;margin-left:20px}
.myStarusSummary .starusList .ico {display:inline-block;width:42px;height:34px;vertical-align:top;background:#fff url(/kolaseek/include/image/common/icon_kolaseek.png) 0 0 no-repeat}
.myStarusSummary .starusList .svc01 .ico {background-position:0 0}
.myStarusSummary .starusList .svc02 .ico {background-position:0 -40px}
.myStarusSummary .starusList .svc03 .ico {background-position:0 -80px}
.myStarusSummary .starusList .svc04 .ico {background-position:0 -120px}
.myStarusSummary .starusList .svc05 .ico {background-position:0 -160px}
.myStarusSummary .starusList .svc06 .ico {background-position:0 -200px}
.myStarusSummary .starusList .txt {display:inline-block;padding-right:8px;line-height:34px;background-color:#fff}
.myStarusSummary .starusList .num {position:absolute;top:7px;right:0;width:60px;line-height:20px;text-align:center;border-radius:18px}
.myStarusSummary .starusList .num span {font-weight:normal;font-size:0.929em;letter-spacing:-1px}


@media screen and (max-width:1000px){
	.popKwd {margin-right:0}
	.searchSide,.resultViewDetail .qrCode {display:none}
	.searchForm {padding-right:0}
	.searchForm .mlang {right:0}
	.resultList > li {min-height:155px}
	.resultList .thumb .cover {max-width:115px;height:150px}
	.resultList.imageType .bookDataWrap,.resultList.imageType .bookStateBar {margin-left:130px}
	.resultList.imageType .chk ~ .bookDataWrap,.resultList.imageType .chk ~ .bookStateBar {margin-left:160px}
	.resultViewDetail .bookDataWrap {margin-right:0}

	.musicPlayBox {margin-left: 160px;}
	.resultList .boxTag {margin-bottom: 6px;}
	.resultList .list .bookDataWrap dt {margin-bottom: 4px;}
	.resultList .list .resultTxt {margin-top: 2px;}
	.resultList .list .resultTag {margin-top: 0px;}
	.resultList .list .boxOn {top: 82px;}
	.resultList .list .videoWrap .videoBox {min-width: 300px;}
}
@media screen and (max-width:800px){
	.resultList > li {min-height:145px}
	.resultList .thumb .cover {max-width:107px;height:140px}
	.resultList.imageType .bookDataWrap,.resultList.imageType .bookStateBar {margin-left:115px}
	.resultList.imageType .chk ~ .bookDataWrap,.resultList.imageType .chk ~ .bookStateBar {margin-left:150px}

	.musicPlayBox {margin-left: 150px;}
	.resultList .list .boxOn {top: 75px;}
}
@media screen and (max-width:720px){
	.bookStateBar .txt,.bookStateBar .stateArea {float:none;margin:5px 10px}
	.resultList > li {min-height:112px}
	.resultList .thumb .cover,.kdcBookList .bookList .thumb .cover {max-width:92px;height:120px}
	.resultList.imageType .bookDataWrap,.resultList.imageType .bookStateBar {margin-left:102px}
	.resultList.imageType .chk ~ .bookDataWrap,.resultList.imageType .chk ~ .bookStateBar {margin-left:132px}

	.musicPlayBox {margin-left: 132px;}
	.resultList .list {display: block;}
	.resultList.imageType .musicPlayWrap {left: 25px; top: 10px;}
	.resultList .list .boxOn {top: 56px; margin-bottom: 0}
	.noResult .list {display: flex;}

}
@media screen and (max-width:640px){
	.kdcDepth1List {padding:14px}
	.kdcDepth1List li a {padding:5px}
	.kdcDepth1List li a.choiced,.kdcDepth1List li a:hover,.kdcDepth1List li a:focus {padding:4px}
	.kdcDepth2List > li {width:33.333%}

	.detailSearch {margin-top:0}
	.detailSearchList li {float:none;width:auto}

	.resultList > li {padding-left:0}
	.resultList .thumb {top:15px;left:0}
	/* .resultList.imageType .chk ~ .thumb {top:40px;left:0} */
	.resultList.ebookType > li {min-height:auto;padding:10px 0}
	.resultList.ebookType .thumb {top:15px}

	.resultList .chk {top: 20px;}

	.resultFilter.music .lt {width: 100%; padding: 0 45px 0 75px; box-sizing: border-box; margin-bottom: 5px;}
	.resultFilter.music .lt input {width: 100%;}

	.kdcBookList .bookList .tag img {width:41px;}
	.kdcBookList .bookList > li {width:25%}
	.kdcBookList .bookList > li:nth-of-type(5) {display:none}

	.resultViewDetail .thumb {position:relative;top:auto;left:auto;width:170px;height:210px;margin:0 auto 15px;text-align:center}
	.resultViewDetail .bookDataWrap {margin-left:0}
	.bookInfoTbl {min-height:auto}

	.myStarusSummary .starusList li {float:none;width:auto}
	.myStarusSummary .starusList li div {margin:0 !important}


}
@media screen and (max-width:480px){
	.detailSearchTbl .fnInputBox,.detailSearchTbl .fnInputBox2 {padding-left:0}
	.detailSearchTbl .fnInputBox select:nth-of-type(1),.detailSearchTbl .fnInputBox2 select:nth-of-type(1) {position:relative;top:auto;left:auto;right:auto;width:100%;min-width:100%;margin-bottom:5px}
	.detailSearchTbl .fnInputBox input + select.selFix,.detailSearchTbl .fnInputBox2 input + select.selFix {top:auto;bottom:0;width:80px;min-width:80px}

	.resultList > li {padding: 10px 0;}
	.resultList .chk {top: 15px;}

	.kdcDepth1List li .txt {font-size:1.071em}
	.kdcDepth1List li a,.kdcDepth1List li a .ico {width:60px;height:60px}
	.kdcDepth1List li a .ico {background-size:auto 150px}
	.kdcDepth1List li.kdc0 .ico {background-position:0 0}
	.kdcDepth1List li.kdc1 .ico {background-position:-60px 0}
	.kdcDepth1List li.kdc2 .ico {background-position:-120px 0}
	.kdcDepth1List li.kdc3 .ico {background-position:-180px 0}
	.kdcDepth1List li.kdc4 .ico {background-position:-240px 0}
	.kdcDepth1List li.kdc5 .ico {background-position:0 -75px}
	.kdcDepth1List li.kdc6 .ico {background-position:-60px -75px}
	.kdcDepth1List li.kdc7 .ico {background-position:-120px -75px}
	.kdcDepth1List li.kdc8 .ico {background-position:-180px -75px}
	.kdcDepth1List li.kdc9 .ico {background-position:-240px -75px}
	.kdcDepth2List > li {width:50%}

	.searchNewCore,.searchBestCore {padding:0}
	.searchNewCore select,.searchBestCore select {float:none;width:100%;margin:0 0 10px}
	.searchNewCore .btnSubmit,.searchBestCore .btnSubmit {clear:both;position:relative;top:auto;right:auto;text-align:center}

	.bookDataWrap {min-height:120px}
	.bookDataWrap dd {line-height: 1.4;}
	/*.bookDataWrap dd.data {display:none}*/
	.bookDataWrap dd > span {display:block;background:none; padding-right: 0; margin-right: 0;}
	.bookDataWrap dd > span::after {display: none;}
	.resultList .thumb,.resultList.ebookType .thumb,.resultList.imageType .chk ~ .thumb {left:auto;right:0}
	.resultList.imageType .bookDataWrap,.resultList.imageType .bookStateBar,.resultList.imageType .chk ~ .bookDataWrap,.resultList.imageType .chk ~ .bookStateBar {margin-left:0}
	.resultList.imageType .bookDataWrap,.resultList.imageType .chk ~ .bookDataWrap {margin-right:100px; min-height: 130px; margin-left: 23px;}
	.resultList.imageType .list .bookDataWrap,.resultList.imageType .list .chk ~ .bookDataWrap {margin-left: 0px;}

	.musicPlayBox {margin-left: 0;}
	.bookDataWrap dd.musicBox {position: relative; background: #f2f2f2; margin-top: 10px; padding: 5px 0; box-sizing: border-box; text-align: left; padding-left: 10px}
	.bookDataWrap dd.musicBox a {line-height: 27px}
	.kdcBookList .bookList > li {width:33.333%}
	.kdcBookList .bookList > li:nth-of-type(4) {display:none}

	.resultViewDetail .bookDataWrap {margin-right:0}

	.resultList.imageType .moreBtnWrap {margin-top: 62px; margin-right: 0px;}
	.resultList .list .moreBtnWrap a {padding: 6px 23px 3px 8px; width: 92px; height: 30px;}
	.resultList .list .moreBtnWrap a::after {right:6px;}
	.resultList .boxTag {height: 20px; margin-bottom: 5px;}
	.bookDataWrap .title {margin-bottom: 4px;}
	.resultList.imageType .musicPlayWrap {left: 0px;}
	.resultList .list .boxOn {top: 36px;}

	/* 그래프 */
	.graphWrap {padding:15px 10px;font-size:12px}
	.barGraph .bar {width:20px;margin-left:-10px}
	.barGraph .graphBox {margin-left:0}
	.axis-y .line .txt {display:none}

}
@media screen and (max-width:375px){
	.kdcDepth1List li {width:33.3%;margin-top:5px}
	.kdcBookList .bookList .thumb .cover {max-width:84px;height:110px}
	.resultFilter.music .lt {padding: 0 40px 0 65px;}
}
@media screen and (min-width:1000px){
	.searchInput .reSearch {position:absolute;top:7px;right:110px}
	.searchCheckBox .checkGroup {padding:15px 25px}
	.bookStateBar {padding:5px}
}